:root {
  --bg-color: #1b1f24;
  --color-primary: #13bbff;
  --color-secondary: #22282f;
  --color-tertiary: #c3cad5;
  --text-color: #fff;

  --h1-font: 4.5rem;
  --h2-font: 3rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --p-font: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 11rem 5% 9rem;
}

span {
  color: var(--color-primary);
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

textarea {
  width: 100%;
}

.content-text p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

/***************************/
/*********HEADINGS**********/
/***************************/
.heading-secondary {
  text-align: center;
  font-size: var(--h2-font);
  margin-bottom: 5rem;
}

.heading-tertiary {
  text-align: left;
  font-size: var(--h3-font);
  line-height: 1;
}

.heading-quart {
  text-align: left;
  font-size: var(--h4-font);
  line-height: 0.8;
  margin-bottom: 2rem;
}

/***************************/
/*********BUTTONS***********/
/***************************/
.btn {
  display: inline-flex;
  padding: 1.1rem 2.6rem;
  background-color: var(--color-primary);
  color: var(--bg-color);
  border: 2px solid var(--color-primary);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--color-primary);
  box-shadow: 0 0 2rem var(--color-primary);
}

.btn--cv {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  margin-left: 1.5rem;
  transition: all 0.5s ease;
}

.btn--cv:hover {
  background: var(--color-primary);
  color: var(--bg-color);
}

.btn-form {
  color: var(--text-color);
  text-transform: uppercase;
}

.header {
  background: url("./../images/background.jpg");
  background-position: fixed;
  background-size: cover;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 80%;
}

.hero h1 {
  font-size: var(--h1-font);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.hero a:link,
.hero a:visited {
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bg-color);
  border: 2px solid var(--color-primary);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  transition: all 0.5s ease;
}

.hero a:hover,
.hero a:active {
  background: transparent;
  color: var(--color-primary);
  box-shadow: 0 0 2rem var(--color-primary);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 0 16%;
}

.hero-social {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-social svg {
  position: relative;
  background: var(--text-color);
  padding: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
  border-radius: 50%;
}

.hero-links {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  top: -250%;
}

.hero-social svg:hover {
  background: transparent;
  color: var(--color-primary);
  box-shadow: 0 0 2rem var(--color-primary);
}

.show-links {
  display: flex;
  transition: all 1s ease;
}

.hero-social svg:hover ~ .hero-links {
  display: flex;
  transition: all 1s ease;
}

/*ABOUT*/

section.about {
  background: var(--color-secondary);
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img {
  flex: 0 0 40%;
}

.about-img img {
  width: 100%;
  object-fit: cover;
  border: 0.7rem solid var(--color-primary);
  box-shadow: 0 0 2rem var(--color-primary);
}

.about-text {
  flex: 0 0 60%;
}

.about-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0rem;
}

.about-info-text p {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.about-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--text-color);
  margin-right: 0.5rem;
}

/* Expereince */
.experience-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.experience-item {
  background-color: var(--color-secondary);
  padding: 2rem;
  border-radius: 1rem;
  flex: 0 0 27%;
}

.experience-heading {
  margin-bottom: 2rem;
}

.experience-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-year {
  background-color: var(--color-primary);
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
}

.experience-text {
  font-size: 1.2rem;
}

.experience-type {
  display: flex;
  justify-content: flex-end;
  color: var(--color-primary);
  font-weight: 300;
  font-size: 1.4rem;
  text-shadow: 3px 3px 2rem var(--color-primary),
    -2px 1px 3rem var(--text-color);
  margin-top: 1rem;
}

/**Work done**/

section.work-done {
  background: var(--color-secondary);
}

.work-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.work-counter {
  font-style: italic;
  font-weight: 900;
  font-size: 5rem;
}

.work-text {
  font-size: 1.8rem;
  font-weight: 400;
}

/**Skills**/
.skills-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 1rem;
}

.skill-item {
  margin-bottom: 2rem;
}
.skill-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.skill-container {
  width: 100%;
  height: 1rem;
  background-color: var(--color-secondary);
}

.skill-percent {
  background-color: var(--color-primary);
  height: 100%;
}

/** Contact */

.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-item {
  background: var(--color-secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  background: var(--color-primary);
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--text-color);
  padding: 1.2rem;
  border-radius: 10rem;
  position: absolute;
  top: -30%;
}

.contact-text {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin: 3rem 5rem;
}

.contact-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-line span {
  border-bottom: 0.2rem solid var(--color-primary);
  width: 20%;
  margin: 5rem 0rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-socials {
  margin-top: 3rem;
}

.contact-heading {
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.contact-info {
  flex: 0 0 30%;
}

.contact-form-container {
  flex: 0 0 70%;
}

.contact-message {
  font-size: 1.6rem;
  font-weight: 400;
}

.socials {
  display: flex;
  gap: 1.5rem;
}

.socials a:link,
.socials a:visited {
  background: var(--color-secondary);
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a:hover,
.socials a:active {
  background: transparent;
  color: var(--color-primary);
  box-shadow: 0 0 2rem var(--color-primary);
}

.social-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--text-color);
}

/* contact form */

.form-inline {
  margin-bottom: 2rem;
}

.form-input {
  border: none;
  background: var(--color-secondary);
  padding: 1.5rem 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
}

.form-input:focus {
  border: none;
  outline: none;
}

.form-input::placeholder {
  text-transform: uppercase;
}

.footer {
  background: var(--color-secondary);
  padding: 2rem;
  text-align: center;
}
