$color-primary: #13bbff;
$color-secondary: #22282f;
$color-tertiary: #c3cad5;
$bg-color: #1b1f24;

$color-white: #fff;
$color-black: #000;
$color-dark: #141416;
$color-red: #ff0000;

/* NEUTRALS */

$color-neutral-1: #141416;
$color-neutral-2: #23262f;
$color-neutral-4: #777e90;
$color-neutral-5: #b1b5c3;
$color-neutral-6: #e6e8ec;
$color-neutral-8: #fcfcfd;

/* GREYS  */
$color-grey-1: #e6e8ec;
$color-grey-2: #b1b5c3;
$color-grey-3: #5f5f5f;
