@use "./colors" as *;
@use "./variables" as *;
@use "./mixins" as *;

/***************************/
/*********HEADINGS**********/
/***************************/
.heading-primary {
  text-align: center;
  font-size: $h1-font;
  margin-bottom: 5rem;
}

.heading-secondary {
  text-align: center;
  font-size: $h2-font;
  margin-bottom: 4rem;
}

.heading-tertiary {
  text-align: left;
  font-size: $h3-font;
  line-height: 1;
}

.heading-quart {
  text-align: left;
  font-size: $h4-font;
  line-height: 0.8;
  margin-bottom: 2rem;
}

/***************************/
/*********BUTTONS***********/
/***************************/
.btn {
  display: inline-flex;
  padding: 1.1rem 2.6rem;
  background-color: $color-primary;
  color: $bg-color;
  border: 2px solid $color-primary;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: $color-primary;
  box-shadow: 0 0 2rem $color-primary;
}

.btn--cv {
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;
  margin-left: 1.5rem;
  transition: all 0.5s ease;

  @include respond-mobile {
    margin-left: 0rem;
  }
}

.btn--cv:hover {
  background: $color-primary;
  color: $bg-color;
}

.btn--submit {
  color: $color-white;
  text-transform: uppercase;
}
